import { Config } from "./types";

export const configs: Config[] = [
  {
    message_channel_id: "00000000000000000",
    message_id: "00000000000000000",
    reaction_role_maps: [
      {
        reaction_id: '00000000000000000',
        role_ids: ['00000000000000000']
      }
    ]
  },
];
